<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <app-contamine-nouveau></app-contamine-nouveau>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded">
              <app-etat-financement-covid></app-etat-financement-covid>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded">
              <app-accesibilite-structure-sanitaire-covid></app-accesibilite-structure-sanitaire-covid>
            </div>
        </div>
        <div class="col-md-12">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <app-province></app-province>
            </div>
        </div>
    </div>
</div>
