
mat-card {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  
  mat-card-header {
    padding-bottom: 20px;
    line-height: 1.1;
  }
  
  