<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded">
              <app-admin-env-calamite></app-admin-env-calamite>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded">
              <app-admin-env-airproteger></app-admin-env-airproteger>
            </div>
        </div>
        <div class="col-md-12">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <!-- <app-province></app-province> -->
            </div>
        </div>
    </div>
</div>
