
<div class="container m f" fxLayout="column" fxLayoutAlign="center center">
    <div class="card border shadow p-3 mb-5 bg-white rounded text-center" matRipple>
        <div class="card-body">
            <p class="card-text">Rapport COVID-19.</p>
            <br>
            <a class="btn btn-primary" routerLink="/layouts/sante/covid/covid-list">Acceder ici</a>
        </div>
    </div>

    <div class="card border shadow p-3 mb-5 bg-white rounded text-center" matRipple>
        <div class="card-body">
            <p class="card-text">Rapport EBOLA.</p>
            <br>
            <a class="btn btn-primary" routerLink="/layouts/sante/ebola/ebola-list">Acceder ici</a>
        </div>
    </div>
</div>
