<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <app-ebola-contamination></app-ebola-contamination>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded">
              <app-etat-accessibilite></app-etat-accessibilite>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded">
              <app-accessibilite></app-accessibilite>
            </div>
        </div>
        <div class="col-md-12">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <app-ebola-province></app-ebola-province>
            </div>
        </div>
    </div>
</div>
