
<div class="header">NOMBRE DE PERSONNES COMTAMINES PAR EBOLA</div>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Nouveau cas</th>
      <th scope="col">Gueris</th>
      <th scope="col">Décès</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <th scope="row">1</th> -->
      <td class="totalContamine">
        {{totalContamine}} persones
      </td>
      <td class="totalGueris">
        {{totalGueris}} persones
      </td>
      <td class="totalDeces">
        {{totalDeces}} persones
      </td>
    </tr>
  </tbody>
</table>
