
<div class="container section-home">
    <div class="h" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutAlign="space-around center">

        <mat-card [class.mat-elevation-z10]="true" matRipple class="h-1">
            <mat-card-content>
                <mat-card-title>ASPECT SANTE</mat-card-title>
                <mat-card-content>
                    <p>Faits saillants ayant marqués la vie sanitaire.</p>
                </mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/layouts/sante">
                    Cliquez ici
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card [class.mat-elevation-z10]="true" matRipple class="h-2">
            <mat-card-content>
                <mat-card-title>ASPECT ECONOMIQUE</mat-card-title>
                <mat-card-content>
                    <p>Faits saillants ayant marqués la vie économique.</p>
                </mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/layouts/economie">
                    Cliquez ici
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card [class.mat-elevation-z10]="true" matRipple class="h-3">
            <mat-card-content>
                <mat-card-title>ASPECT SOCIO-POLITIQUE</mat-card-title>
                <mat-card-content>
                    <p>Faits saillants ayant marqués la vie Sociale et Politique.</p>
                </mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/layouts/socio-politique">
                    Cliquez ici
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card [class.mat-elevation-z10]="true" matRipple class="h-3">
            <mat-card-content>
                <mat-card-title>ASPECT SECURITAIRE</mat-card-title>
                <mat-card-content>
                    <p>Faits saillants ayant marqués la vie sécuritaire.</p>
                </mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/layouts/securitaire">
                    Cliquez ici
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card [class.mat-elevation-z10]="true" matRipple class="h-5">
            <mat-card-content>
                <mat-card-title>ASPECT ENVIRONNEMENTALE</mat-card-title>
                <mat-card-content>
                    <p>Faits saillants ayant marqués la vie environnementale.</p>
                </mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/layouts/environnement">
                    Cliquez ici
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
