
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded">
              <app-relation-ac-secure></app-relation-ac-secure>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded">
              <app-relation-ac-secure-media></app-relation-ac-secure-media>
            </div>
        </div>
        <div class="col-md-12">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <!-- <app-province></app-province> -->
            </div>
        </div>
    </div>
</div>
