<div class="container" *ngIf="loading">
    <div class="d-flex justify-content-center">
        <mat-spinner></mat-spinner>
    </div>
</div>

<div class="container m">
    <div
        fxLayout="column"
        fxLayoutAlign="flex-start flex-start" *ngIf="!loading">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <h3 class="text-break">Rapport du {{ ebolaView.Created | date:'dd/MM/yyy à H:mm:ss'}}</h3>
            <br>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-break"><b>Nombre de Contaminés:</b> {{ ebolaView.NbreTotalContamine }}</li>
                <li class="list-group-item text-break"><b>Nombre de Contaminés par Femme:</b> {{ ebolaView.NbreContaminerFemme }}</li>
                <li class="list-group-item text-break"><b>Nombre de Contaminés par Homme:</b> {{ ebolaView.NbreTotalContamine - ebolaView.NbreContaminerFemme }}</li>
                <br>
                <li class="list-group-item text-break"><b>Nombre de Guéris:</b> {{ ebolaView.NbreTotalGueris }}</li>
                <li class="list-group-item text-break"><b>Nombre de Guéris par Femme:</b> {{ ebolaView.NbreGuerisFemme }}</li>
                <li class="list-group-item text-break"><b>Nombre de Guéris par Homme:</b> {{ ebolaView.NbreTotalGueris - ebolaView.NbreGuerisFemme }}</li>
                <br>
                <li class="list-group-item text-break"><b>Nombre de Décès:</b> {{ ebolaView.NbreTotalDeces }}</li>
                <li class="list-group-item text-break"><b>Nombre de Décès par Femme:</b> {{ ebolaView.NbreDecesFemme }}</li>
                <li class="list-group-item text-break"><b>Nombre de Décès par Homme:</b> {{ ebolaView.NbreTotalDeces - ebolaView.NbreDecesFemme }}</li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-break"><b>Etat des Financements des Structures Sanitaire:</b> {{ ebolaView.EtatFinancementStructureSanitaire }}</li>
                <li class="list-group-item text-break"><b>Accesbilité des Structures Santaire à la Population:</b> {{ ebolaView.AccesbiliteStructureSantairePopulation }}</li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-break"><b>Province:</b> {{ ebolaView.Province }}</li>
                <li class="list-group-item text-break"><b>Ville:</b> {{ ebolaView.CommunaleUrbain }}</li>
                <li class="list-group-item text-break"><b>Cheferie / Secteur:</b> {{ ebolaView.CheferieSecteur }}</li>
            </ul>

            <br>
            <div>
                <h4><b>Rapport detaillé</b></h4>
                <div class="text-justify" [innerHTML]="ebolaView.RapportGeneraleEbola"></div>
            </div>
        </div>

        <div class="card shadow p-3 mb-5 bg-white rounded">
            <h2>Information de l'éditeur</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-break"><b>Nom:</b> {{ agentInfo.name }}</li>
                <li class="list-group-item text-break"><b>Téléphone:</b> {{ agentInfo.phoneNumber }}</li>
                <li class="list-group-item text-break"><b>Email:</b> {{ agentInfo.email }}</li>
                <li class="list-group-item text-break"><b>Adresse physique:</b> {{ agentInfo.useraddress }}</li>
                <li class="list-group-item text-break"><b>Niveau d'acréditation:</b> {{ agentInfo.role }}</li>
                <li class="list-group-item text-break"><b>Etat Civile:</b> {{ agentInfo.etatCivile }}</li>
                <li class="list-group-item text-break"><b>Identifiant Unique:</b> {{ agentInfo.uid }}</li>
            </ul>
        </div>
    </div>
</div>
