
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="shadow p-3 mb-5 bg-white rounded">
          <div class="header">ENSEIGNANTS</div>
          <!-- <div echarts [options]="options" class="echart"></div> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="shadow p-3 mb-5 bg-white rounded">
          <div class="header">FRAIS DE FONCTIONNEMENT DES ECOLES</div>
          <div echarts [options]="options3" class="echart"></div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="header">REVENDICATION</div>
            <div echarts [options]="options" class="echart"></div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="header">STRUCTURES SANITAIRES ACCESSIBLE A LA POPULATION</div>
            <div echarts [options]="options1" class="echart"></div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="header">JEUNES AYANT ACCES AUX STRUCTURES SANITAIRES</div>
            <div echarts [options]="options2" class="echart"></div>
          </div>
      </div>
        <div class="col-md-6">
          <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="header">RELATION ASSEMBLEE ET GOUVERNEMENT PROVINCIAL</div>
            <div echarts [options]="options4" class="echart"></div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="header">RELATION GOUVERNEMENT ET ORGANE JUSDICIARE</div>
            <div echarts [options]="options5" class="echart"></div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="header">RELATION ASSEMBLEE ET POUVOIR JUDICIAIRE</div>
            <div echarts [options]="options6" class="echart"></div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="header">RELATION ENTRE ETD</div>
            <div echarts [options]="options7" class="echart"></div>
          </div>
      </div>
      <div class="col-md-6">
        <div class="shadow p-3 mb-5 bg-white rounded">
          <div class="header">RELATION ENTRE AUTORITE ET SOCIETE CIVILE</div>
          <div echarts [options]="options8" class="echart"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="shadow p-3 mb-5 bg-white rounded">
          <div class="header">RELATION ENTRE AUTORITE ET MEDIA</div>
          <div echarts [options]="options9" class="echart"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="shadow p-3 mb-5 bg-white rounded">
          <div class="header">PROGRAMME DE DEVELOPPEMENT</div>
          <div echarts [options]="options10" class="echart"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="shadow p-3 mb-5 bg-white rounded">
          <div class="header">BUDGET PARTICIPATIF</div>
          <div echarts [options]="options11" class="echart"></div>
        </div>
      </div>
    </div>
</div>
